.color {
  background-color: white;
}

/* imagen */

.imagen_centrado {
  display: flex;
  justify-content: center;
  margin: 5%;
}

.tama침o_imagen {
  width: 34%;
  height: 34%;
}



/* Reset b치sico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  
  /* Estilo general para el body */
  body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff;
  color: #000000;
  line-height: 1.6;
  }
  
  /* Estilo del header */
  header {
  background: #9db183d8;
  color: #000000;
  padding: 1rem 2rem;
  text-align: center;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 4px 8px rgb(0, 0, 0);
  }
  
  /* Estilo de navegaci칩n en el header */
  nav ul {
  list-style-type: none;
  padding: 0;
  }
  
  nav ul li {
  display: inline;
  margin: 0 1rem;
  }
  
  nav a {
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  transition: color 0.3s ease;
  }
  
  nav a:hover {
  color: #000000;
  }
  
  /* Estilo del main */
  main {
  padding-top: 6rem; /* Ajustado para dar m치s espacio para el header fijo */
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  }
  
  /* Estilo de secciones */
  section {
  background: #a2ac91;
  margin-bottom: 4rem; /* Mayor espacio entre secciones */
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 6px 12px rgba(141, 153, 167, 0.466);
  }
  
  /* Estilo para h2 en secciones */
  sectionh2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  border-bottom: 2px solid #000000;
  padding-bottom: 0.5rem;
  display: inline-block;
  }
  
  /* Estilo del footer */
  footer {
  background: #333;
  color: #494117f3;
  text-align: center;
  padding: 1rem 2rem;
  position: relative;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilo del formulario de contacto */
  form {
  display: flex;
  flex-direction: column;
  }
  
  form label {
  margin-bottom: 0.5rem;
  font-weight: 600;
  }
  
  form input,
  form textarea {
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  }
  
  form button {
  padding: 0.75rem;
  background-color: #828b97;
  color: #d4d4d4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  }
  
  form button:hover {
  background-color: #000000;


  }


  @media (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  
    .orientation {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  