.alineadoPrincipal {
    display: flex;
    justify-content: center;

}

.alineadoVertical{
   display: flex;
   flex-direction: column;
   align-items: center;

}

.tarjeta{
  background-color: rgb(139, 196, 141);
  border-radius: 20px;
  border: 2px solid rgb(6, 14, 3); 
  width: 500px;
  height: 500px;
}

.scroll {
    overflow: scroll;
}